# Batch process many image pairs
name: batch_s2_image_correlation
run-name: batch s2 image correlation ${{ inputs.npairs }} connections

on:
  workflow_dispatch:
    inputs:
        cloud_cover:
            type: string
            required: true
            description: percent cloud cover allowed in images (0-100)
            default: '10'
        start_year:
            type: string
            required: true
            description: first year to search for images
            default: '2015'
        end_year:
            type: string
            required: true
            description: last year to search for images
            default: '2025'
        start_month:
            type: choice
            required: true
            description: first month of year to search for images
            default: '6'
            options: ['1','2','3','4','5','6','7','8','9','10','11','12']
        stop_month:
            type: choice
            required: true
            description: last month of year to search for images
            default: '9'
            options: ['1','2','3','4','5','6','7','8','9','10','11','12']
        min_days:
            type: string
            required: true
            description: minimum temporal baseline (days)
            default: '25'
        max_days:
            type: string
            required: true
            description: maximum temporal baseline (days)
            default: '100'
            
jobs:
  # The output of this job is a JSON mapping for a matrix job
  S2_search:
    runs-on: ubuntu-latest
    outputs:
      IMG_IDS: ${{ steps.S2_search.outputs.IMAGE_DATES }}
      MATRIX: ${{ steps.S2_search.outputs.MATRIX_PARAMS_COMBINATIONS }}
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Conda environment with Micromamba
        uses: mamba-org/setup-micromamba@v2
        with:
          cache-environment: true
          environment-file: environment.yml

      - name: Search planetary computer for S2 Imagery
        id: S2_search
        run: | 
          python -u scripts/s2_search.py ${{ inputs.cloud_cover }} ${{ inputs.start_month }} ${{ inputs.stop_month }} ${{ inputs.min_days }} ${{ inputs.max_days }}

  # A matrix job that calls a reuseable workflow
  autoRIFT:
    needs: S2_search
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.S2_search.outputs.MATRIX) }}
    name: ${{ matrix.name }}
    uses: ./.github/workflows/image_correlation_pair.yml
    with:
      img1_date: ${{ matrix.img1_date }}
      img2_date: ${{ matrix.img2_date }} 
      workflow_name: ${{ matrix.name }}

  # summary_statistics:
  #   needs: [S2_search, autoRIFT]
  #   name: summary_statistics
  #   uses: ./.github/workflows/summary_statistics.yml
