# Batch process many image pairs
name: batch_HLS_image_correlation
run-name: batch HLS image correlation

on:
  workflow_dispatch:
    inputs:
        cloud_cover:
            type: string
            required: true
            description: percent cloud cover allowed in images (0-100)
            default: '10'
        start_month:
            type: choice
            required: true
            description: first month of year to search for images
            default: '6'
            options: ['1','2','3','4','5','6','7','8','9','10','11','12']
        stop_month:
            type: choice
            required: true
            description: last month of year to search for images
            default: '9'
            options: ['1','2','3','4','5','6','7','8','9','10','11','12']
        min_days:
            type: string
            required: true
            description: minimum temporal baseline (days)
            default: '25'
        max_days:
            type: string
            required: true
            description: maximum temporal baseline (days)
            default: '100'
            
jobs:
  # The output of this job is a JSON mapping for a matrix job
  HLS_search:
    runs-on: ubuntu-latest
    outputs:
      IMG_IDS: ${{ steps.HLS_search.outputs.IMAGE_DATES }}
      MATRIX: ${{ steps.HLS_search.outputs.MATRIX_PARAMS_COMBINATIONS }}
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Conda environment with Micromamba
        uses: mamba-org/setup-micromamba@v2
        with:
          cache-environment: true
          environment-file: environment.yml

      - name: Create .netrc for Earthdata
        env: 
          EARTHDATA_USERNAME: ${{ secrets.EARTHDATA_USERNAME }}
          EARTHDATA_PASSWORD: ${{ secrets.EARTHDATA_PASSWORD }}
        run: |
          umask 077
          cat > ~/.netrc <<EOF
          machine urs.earthdata.nasa.gov
            login ${EARTHDATA_USERNAME}
            password ${EARTHDATA_PASSWORD}
          EOF
          # curl/GDAL require strict perms; verify:
          ls -l ~/.netrc

      - name: Search LP DAAC for HLS Imagery
        id: HLS_search
        run: | 
          python -u scripts/HLS_search.py ${{ inputs.cloud_cover }} ${{ inputs.start_month }} ${{ inputs.stop_month }} ${{ inputs.min_days }} ${{ inputs.max_days }}

  # A matrix job that calls a reuseable workflow
  autoRIFT:
    needs: HLS_search
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.HLS_search.outputs.MATRIX) }}
    name: ${{ matrix.name }}
    uses: ./.github/workflows/HLS_image_correlation_pair.yml
    secrets: inherit
    with:
      img1_date: ${{ matrix.img1_date }}
      img2_date: ${{ matrix.img2_date }} 
      workflow_name: ${{ matrix.name }}
